footer { 
    color: #fff;
    margin: 0;
}

footer .footer-above {
    padding: 25px 0;
    background-color: #FFCC00;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}


