@import url('../fonts/thsarabunnew.css');

body {
    font-family: 'THSarabunNew' !important;
    height: 100%;
    padding-bottom: 0;
    background: url("../images/bg1.jpg") no-repeat center center fixed;
    background-size: cover;
}

body > div.container {
    padding-top: 70px;
}

.page-wrap{
}

.page-wrap:after{
    content: "";
    display: block;
}

.site-footer, .page-wrap:after{
    height: 110px;
}

